# Created by .ignore support plugin (hsz.mobi)
/data/walking/inpocket-28-steps-Ido/
/data/walking/swing-27-steps-Matan/
/data/walking/inhand-27-steps-Matan/
/data/walking/inpocket-29-steps-Ido/
/data/walking/inear-26-steps-Ido/
/data/walking/inear-29-steps-Ido/
/data/walking/texting-27-steps-Matan/
/data/walking/inear-27-steps-Matan/
/data/walking/inhand-29-steps-Ido/
/data/walking/inear-26-steps-Matan/
/data/calibration/calibration-test-2-2021-00-16_09-10-51/
/data/calibration/orientation-test-2021-00-14_17-24-15/
/data/calibration/static-calibration-2021-00-16_16-33-11/

.idea
__pycache__/

